* {box-sizing: border-box}

body {
  font-family: Verdana, sans-serif; 
  margin:0,
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.landing {
  padding: 80px;
  text-align: left;
  transition-delay: 1s;
  transition-property: margin-right, color;
}

/* Slides */
.mySlides {
  /* display: none; */
  padding: 80px;
  text-align: left;
  transition-delay: 2s;
  transition-property: margin-right, color;
}

.mySlidesInHiding {
  display: none; 
}

.demoClass {
  background-color: lime; 
}

.block {
  display: block;
}

#score-results {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
